In [3]:
#Simply using Dataframe

import pandas as pd
# Original data with two new key-value pairs
data = {
    'Name': ['Arpit', 'Arpan', 'Arkan', 'Ankan'],
    'Age': [20, 22, 24, 20],
    'Quote': ['A', 'R', 'K', 'N'],
    'City': ['Delhi', 'Mumbai', 'Kolkata', 'Pune'],  
    'Salary': [50000, 60000, 75000, 50000]      
}

df = pd.DataFrame(data)
print(df)

    Name  Age Quote
0  Arpit   20     A
1  Arpan   22     R
2  Arkan   24     K
3  Ankan   20     N

In [9]:
#Giving up the missing Values using the Numpy
import numpy as np
import pandas as pd
data1 = {
    'Name': ['Arpit', 'Arpan', np.nan , 'Ankan'],
    'Age': [20, 22, 24, np.nan],
    'Quote': ['A', np.nan, 'K', 'N'],
    'City': ['Delhi', 'Mumbai', np.nan , 'Pune'],  
    'Salary': [50000, np.nan, 75000, 50000]      
}
df1 = pd.DataFrame(data1)
print(df1)

    Name   Age Quote    City   Salary
0  Arpit  20.0     A   Delhi  50000.0
1  Arpan  22.0   NaN  Mumbai      NaN
2    NaN  24.0     K     NaN  75000.0
3  Ankan   NaN     N    Pune  50000.0

In [22]:
#Accessing Values of the Coloumn
#if i then provide INDEX
#if i not there then provide LABELS
# jahan pe at hey woh LABELS ko indeicate krta hey

#LOC and LABEL mein last index INCLUSIVE hota hey
#ILOC mein last index EXCLUSIVE hota hey


data1 = {
    'Name': ['Arpit', 'Arpan', np.nan , 'Ankan'],
    'Age': [20, 22, 24, np.nan],
    'Quote': ['A', np.nan, 'K', 'N'],
    'City': ['Delhi', 'Mumbai', np.nan , 'Pune'],  
    'Salary': [50000, np.nan, 75000, 50000]      
}
df1 = pd.DataFrame(data1)
df1.loc[0:'Age']
#print(df.iloc[1:2])
#df.iat[]
#df.at[]

    Name   Age Quote    City   Salary
0  Arpit  20.0     A   Delhi  50000.0
1  Arpan  22.0   NaN  Mumbai      NaN
2    NaN  24.0     K     NaN  75000.0
3  Ankan   NaN     N    Pune  50000.0

In [27]:
#Creating the CSV File by 1 and to read the csv file use 2           -------->> MANUALLY CSV Creation
#1) .to_csv
#1) .read_csv
#1) print()

data = {
    'Name': ['Arpit', 'Arpan', 'Arkan', 'Ankan'],
    'Age': [20, 22, 24, 20],
    'Quote': ['A', 'R', 'K', 'N'],
    'City': ['Delhi', 'Mumbai', 'Kolkata', 'Pune'],  
    'Salary': [50000, 60000, 75000, 50000]      
}

df = pd.DataFrame(data)

#CSV File Creation
df.to_csv('students.csv')
print("Coverted to CSV \n")
rd_csv = pd.read_csv('students.csv')
print("Reading and printing the CSV \n")
print(rd_csv)
print("\n\nDisplayed the CSV Successfuly")

Coverted to CSV

Reading and printing the CSV

   Unnamed: 0   Name  Age Quote     City  Salary
0           0  Arpit   20     A    Delhi   50000
1           1  Arpan   22     R   Mumbai   60000
2           2  Arkan   24     K  Kolkata   75000
3           3  Ankan   20     N     Pune   50000


Displayed the CSV Successfuly

In [34]:
#Loading the CSV File from url by 1 and to read the csv file use 2           -------->> CSV from URL
#1) 
#1) .read_csv
#1) print()


url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url)
print("From Head auto: \n",iris.head())
print("\nFrom Tail auto: \n",iris.tail())

print("\n\nFrom Head 10: \n",iris.head(10))
print("\nFrom Tail 10: \n",iris.tail(10))

From Head auto:
    5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

From Tail auto:
      5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica


From Head 10:
    5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

From Tail 10:
      5.1  3.5  1.4  0.2     Iris-setosa
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [35]:
#Creating the CSV File by 1 and to read the csv file use 2           -------->> EXCEL CREATION MANUAL
#1) .to_excel
#1) .read_excel
#1) print()

import pandas as pd
data = {
    'Name': ['Arpit', 'Arpan', 'Arkan', 'Ankan'],
    'Age': [20, 22, 24, 20],
    'Quote': ['A', 'R', 'K', 'N'],
    'City': ['Delhi', 'Mumbai', 'Kolkata', 'Pune'],  
    'Salary': [50000, 60000, 75000, 50000]      
}

df = pd.DataFrame(data)
df.to_excel('students.xlsx')
rd_excel = pd.read_excel('students.xlsx',index_col=0)
print(rd_excel)

    Name  Age Quote     City  Salary
0  Arpit   20     A    Delhi   50000
1  Arpan   22     R   Mumbai   60000
2  Arkan   24     K  Kolkata   75000
3  Ankan   20     N     Pune   50000

In [5]:
#Creating the CSV File by 1 and to read the csv file use 2           -------->> EXCEL DOWNLOADED from URL
#1) .to_csv
#1) .read_csv
#1) print()

import pandas as pd
rd_iris_excel = pd.read_excel('Iris.xls',index_col=0)
print(rd_iris_excel.head(10))

            Petal_width  Petal_length  Sepal_width  Sepal_length Species_name
Species_No
1                   0.2           1.4          3.5           5.1       Setosa
1                   0.2           1.4          3.0           4.9       Setosa
1                   0.2           1.3          3.2           4.7       Setosa
1                   0.2           1.5          3.1           4.6       Setosa
1                   0.2           1.4          3.6           5.0       Setosa
1                   0.4           1.7          3.9           5.4       Setosa
1                   0.3           1.4          3.4           4.6       Setosa
1                   0.2           1.5          3.4           5.0       Setosa
1                   0.2           1.4          2.9           4.4       Setosa
1                   0.1           1.5          3.1           4.9       Setosa

In [40]:
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Obtaining dependency information for xlrd from https://files.pythonhosted.org/packages/1a/62/c8d562e7766786ba6587d09c5a8ba9f718ed3fa8af7f4553e8f91c36f302/xlrd-2.0.2-py2.py3-none-any.whl.metadata
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 kB 2.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2