In [2]:
import numpy as np
import pandas as pd

# Load CSV File
df = pd.read_csv("btissue.csv")
print("\n ---- DATASET PREVIEW -----")
display(df.head(10))

#Basic Info
print("\n ---- DATASET INFO -----")
display(df.info())

# Check for missing Value
print("\n Missing Values per coloumn:")
print(df.isnull().sum())

#Summary Statistics
print("\n\n ---- Summary Statistics-----")
print(df.describe())

 ---- DATASET PREVIEW -----

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,class
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814,car
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car
5,389.872978,0.150098,0.097738,118.625814,2475.557078,20.868620,49.757149,107.686164,429.385788,car
6,290.455141,0.144164,0.053058,74.635067,1189.545213,15.938154,35.703331,65.541324,330.267293,car
7,275.677393,0.153938,0.187797,91.527893,1756.234837,19.187974,39.305183,82.658682,331.588302,car
8,470.000000,0.213105,0.225497,184.590057,8185.360837,44.343455,84.482483,164.122511,603.315715,car
9,423.000000,0.219562,0.261799,172.371241,6108.106297,35.435762,79.056351,153.172903,558.274515,car

 ---- DATASET INFO -----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   I0      106 non-null    float64
 1   PA500   106 non-null    float64
 2   HFS     106 non-null    float64
 3   DA      106 non-null    float64
 4   Area    106 non-null    float64
 5   A/DA    106 non-null    float64
 6   Max IP  106 non-null    float64
 7   DR      106 non-null    float64
 8   P       106 non-null    float64
 9   class   106 non-null    object
dtypes: float64(9), object(1)
memory usage: 8.4+ KB

None

 Missing Values per coloumn:
I0        0
PA500     0
HFS       0
DA        0
Area      0
A/DA      0
Max IP    0
DR        0
P         0
class     0
dtype: int64


 ---- Summary Statistics-----
                I0       PA500         HFS           DA           Area  \
count   106.000000  106.000000  106.000000   106.000000     106.000000
mean    784.251618    0.120133    0.114691   190.568642    7335.155161
std     753.950075    0.068596    0.101347   190.801448   18580.314212
min     103.000000    0.012392   -0.066323    19.647670      70.426239
25%     250.000000    0.067413    0.043982    53.845470     409.647141
50%     384.936489    0.105418    0.086568   120.777303    2219.581163
75%    1487.989626    0.169602    0.166504   255.334809    7615.204968
max    2800.000000    0.358316    0.467748  1063.441427  174480.476200

             A/DA      Max IP          DR            P
count  106.000000  106.000000  106.000000   106.000000
mean    23.473784   75.381258  166.710575   810.638127
std     23.354672   81.345838  181.309580   763.019135
min      1.595742    7.968783   -9.257696   124.978561
25%      8.180321   26.893773   41.781258   270.215238
50%     16.133657   44.216040   97.832557   454.108153
75%     30.953294   83.671755  232.990070  1301.559438
max    164.071543  436.099640  977.552367  2896.582483

In [4]:
X = df.iloc[:, :-1].values      #Features
y = df.iloc[:,-1].values        #Target

print("\nFeatures Shape:",X.shape)
print("\nTarget's Shape:",y.shape)

Features Shape: (106, 9)

Target's Shape: (106,)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print("\nTrain Shape:",X_train.shape)   #Number of rows and coloumns in the training features
print("\nTest Shape:",X_test.shape)     #Number of rows and coloumns in the testing features

Train Shape: (74, 9)

Test Shape: (32, 9)